footer{
    width: 100vw;
    height: 7vh;

    background-color: rgb(255, 255, 0);

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    left: 0;
    bottom: 0;
}

/* botoes pra voltar pro inicio */

.back{
    width: 20vw;
    height: 7vh;

    margin: 5vw;

    background-color: rgb(255, 255, 0);

    border: none;
}