<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Treecko</title>
    <link rel="stylesheet" href="./../../css/iniciaisGenIII/III_link.css" />
    <script type="module" src="./../../../controller/indexMK.js" defer></script>
</head>

<body>  

    <header>
        <div id="familia">
            <button class="estagio" onclick="trocarEstagio(0)">Mudkip</button>
            <button class="estagio" onclick="trocarEstagio(1)">Marshtomp</button>
            <button class="estagio" onclick="trocarEstagio(2)">Swampert</button>
            <button id="mega" onclick="trocarEstagio(3)"><img src="./../../../model/mega.webp" alt=""></button>
        </div>
    </header>

    <section id="section">
        <nav id="mains">

        </nav>
        <nav id="description">

        </nav>
    </section>

    <footer>
        <button class="back" onclick="window.location.href='./../gen3.html'"></button>
        <h1>Made in Japan - 植物ヤモリ ポケモン 家族</h1>
        <button class="back" onclick="window.location.href='./../gen3.html'"></button>
    </footer>

</body>

</html>