<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Treecko</title>
    <link rel="stylesheet" href="./../css/gen3/3_link.css" />

</head>

<body>

    <header>
    </header>

    <section id="section">

    </section>

    <footer>
        <button class="back" onclick="window.location.href='./index.html'"></button>
        <h1>Made in Japan - 植物ヤモリ ポケモン 家族</h1>
        <button class="back" onclick="window.location.href='./index.html'"></button>

    </footer>

</body>

</html>