<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Treecko</title>
    <link rel="stylesheet" href="./../css/gen3/3_link.css" />

</head>

<body>

    <header>
    </header>

    <section id="section">
        <div id="iniciais">
                <div class="atalhos">
                    <h1>Treecko</h1>
                    <button class="botoes" onclick="window.location.href='./iniciaisGenIII/treecko.html'">
                        <img class="pokemons" src="./../../model/treecko2.png"
                            style="filter: invert(100%) brightness(100)">
                    </button>
                </div>
                <div class="atalhos">
                    <h1>Torchic</h1> 
                    <button class="botoes" onclick="window.location.href='./torchic.html'">
                        <img class="pokemons" src="./../../model/torchic.png"
                            style="filter: invert(100%) brightness(100)">
                    </button>
                </div>
                <div class="atalhos">
                    <h1>Mudkip</h1>
                    <button class="botoes" onclick="window.location.href='./mudkip.html'">
                        <img class="pokemons" src="./../../model/mudkip.png"
                            style="filter: invert(100%) brightness(100)">
                    </button>
                </div>
                <div class="atalhos" onclick="window.location.href='./dex3.html'">
                    <h1>PokeDex</h1>
                    <button class="botoes">
                        <img class="pokemons" src="./../../model/dex.png"
                            style="filter: invert(100%) brightness(100)">
                    </button>
                </div>
        </div>
    </section>

    <footer>
        <button class="back" onclick="window.location.href='./index.html'"></button>
        <h1>Made in Japan - 植物ヤモリ ポケモン 家族</h1>
        <button class="back" onclick="window.location.href='./index.html'"></button>

    </footer>

</body>

</html>
