<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Treecko</title>
    <link rel="stylesheet" href="./../css/index/i_link.css" />

</head>

<body>

    <header>
    </header>

    <section id="section">
        <div id="box_gens">
            <h1 id="geracao">Geração :</h1>
            <div id="quadro">
                <button  class="block"> 
                    <img id="gen1" src="./../../model/gen1/gen1.png" style="filter: invert(100%) brightness(100);">
                </button>
                <button   class="block">
                    <img id="gen1" src="./../../model/gen2/gen2.png" style="filter: invert(100%) brightness(100);">
                </button>
                <button class="gens_btns" onclick="window.location.href='gen3.html'">
                    <img id="gen1" src="./../../model/gen3/gen3.png" style="filter: invert(100%) brightness(100);">
                </button>
            </div>
            <div id="quadroNs">
                <h1>1</h1>
                <h1>2</h1>
                <h1>3</h1>
            </div>
        </div>

    </section>

    <footer>
        <button class="back" onclick="window.location.href='./inicio.html'"></button>
        <h1>Made in Japan - 植物ヤモリ ポケモン 家族</h1>
        <button class="back" onclick="window.location.href='./inicio.html'"></button>

    </footer>

</body>

</html>