<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Treecko</title>
    <link rel="stylesheet" href="./../css/treecko/252_link.css" />
    <script type="module" src="./../../controller/index.js" defer></script>
</head>

<body>

    <header>
        <div id="familia">
            <button class="estagio" onclick="trocarEstagio(0)">Treecko</button>
            <button class="estagio" onclick="trocarEstagio(1)">Grovyle</button>
            <button class="estagio" onclick="trocarEstagio(2)">Sceptile</button>
        </div>
    </header>

    <section id="section">
        <nav id="mains">
            <div class="mEstagio" id="treecko">
                <img id="treeckoImagem" src="./../../model/treecko2.png" alt="">
            </div>
            <div class="mEstagio" id="grovyle">
                <img id="grovyleImagem" src="./../../model/grovyle2.png" alt="">
            </div>
            <div class="mEstagio" id="sceptile">
                <img id="sceptileImagem" src="./../../model/sceptile2.png" alt="">
            </div>
        </nav>
        <nav id="description">
            <div class="desc">
                <h1 class="nome">Treecko</h1>
                <h2 class="numero">N° - 252</h2>
                <p class="txt">Treecko é um pequeno Pokémon reptiliano. As mãos e os pés de cada Treecko tem três
                    dígitos, tem uma cauda verde grande, escuro, com dois lóbulos separados. Seu estômago e garganta são
                    vermelhos.</p>
            </div>
            <div class="desc">
                <h1 class="nome">Grovyle</h1>
                <h2 class="numero">N° - 253</h2>
                <p class="txt">Grovyle tem uma aparência mais dinossauro como de sua forma anterior, Treecko. Ao
                    contrário de seus parentes, as mãos de Grovyle tem duas garras e seus pés são mais de pássaro e suas
                    duas caudas agora têm uma aparência frondosa. Grovyle tem três longas folhas em seus pulsos e uma
                    grande folha em cima de sua cabeça.</p>
            </div>
            <div class="desc">
                <h1 class="nome">Sceptile</h1>
                <h2 class="numero">N° - 254</h2>
                <p class="txt">Este Pokémon é bastante ágil - salta pelos galhos de árvores e surpreende seu adversário
                    vindo de cima ou por trás. Sceptile tem sementes crescendo em suas costas. Dizem que elas estão
                    cheias de nutrientes que revitalizam árvores. Este Pokémon cuida das árvores na floresta com muito
                    carinho.</p>
            </div>
        </nav>
    </section>

    <footer>
        <button class="back" onclick="window.location.href='./gen3.html'"></button>
        <h1>Made in Japan - 植物ヤモリ ポケモン 家族</h1>
        <button class="back" onclick="window.location.href='./gen3.html'"></button>
    </footer>

</body>

</html>